.container{
  height: 500px;
  width: 250px;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  background-color: rgba(41, 228, 72, 0.521);
  margin-left: 400px;
  padding-left: 120px;
}
.public{
  font-size: 25px;
  color: rgb(73, 109, 62);
}